body {
  display: flex;
  overflow: hidden;
  background: linear-gradient(15deg, #01031e 0%, #20222a 51%, #1d1e22 75%);
  height: 3000px;
}

.editor {
  position: absolute;
  cursor: text;
  resize: both;
  overflow: hidden;
  border: 1px #212121 solid;
  border-radius: 10px;
  background: #121212;
  width: 250px;
  height: 250px;
  min-height: 35px;
  min-width: 200px;   
  left: 50%;
}

.editor hr {
  color: #20222a;
  width: 100%;
  margin-top: -3.5px;
}

.content {
  color: #8e8e8e;
  margin-left: 0.5em;
}

.title {
  font-size: small;
  float: left;
  color: #e8e8e8;
  margin-left: 0.6em;
  margin-top: 0.9em;
}

.header {
  cursor: move;
  font-family: -apple-system, sans-serif;
  font-size: 21px;
  font-weight: 450;
  background-color: #121212;
  width: 100%;
  text-align: right;
  border-radius: 10px
}

.editor button {
  width: 40px;
  height: 35px;
  margin-left: -5px;
  border: 0;
  outline: 0;
  background: transparent;
  transition: 0.2s;
}

button svg path, 
button svg rect, 
button svg polygon {
  fill: #ffffff;
}

button svg {
  width: 10px;
  height: 10px;
}

.close:hover,
.maximize:hover,
.minimize:hover  {
  background-color: #ffffff10;
  background-clip: border-box;
}