body {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: white;
  background-image: radial-gradient(rgba(134, 122, 138, 0.171) 2px, transparent 0);
  background-size: 30px 30px;
  background-position: -5px -5px
}

.editor {
  position: absolute;
  cursor: text;
  resize: both;
  overflow: hidden;
  border: 1px #212121 solid;
  border-radius: 10px;
  background: #121212;
  width: 250px;
  height: 250px;
  min-height: 35px;
  min-width: 200px;   
  right: 45px;
}

.editor hr {
  color: #20222a;
  width: 100%;
  margin-top: -3.5px;
}

.content {
  color: #8e8e8e;
  margin-left: 0.5em;
  height: calc(100% - 45px); 
  overflow: hidden;
}

.content textarea {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: #121212;
  color: #8e8e8e;
  font-family: monospace;
  font-size: 14px;
  overflow: hidden;
  box-sizing: border-box;
  text-wrap: nowrap;
}

.title {
  font-size: small;
  float: left;
  color: #e8e8e8;
  margin-left: 0.6em;
  margin-top: 0.9em;
}

.header {
  cursor: grab;
  text-align: right;
  font-family: -apple-system, sans-serif;
  font-size: 21px;
  font-weight: 450;
  background-color: #121212;
  width: 100%;
  border-radius: 10px;
}

.editor button {
  width: 40px;
  height: 35px;
  margin-left: -5px;
  border: 0;
  outline: 0;
  background: transparent;
  transition: 0.2s;
}

.prevent-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}

button svg path, 
button svg rect, 
button svg polygon {
  fill: #ffffff;
}

button svg {
  width: 10px;
  height: 10px;
}

.close:hover,
.maximize:hover,
.minimize:hover  {
  background-color: #ffffff10;
  background-clip: border-box;
}

#html-editor {
  right: 15px;
  top: 15px;
}

#css-editor {
  right: 15px;
  top: 280px;
}

#js-editor {
  right: 15px;
  top: 545px;
}

#viewport {
  align-items: center;
}